<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leah.www.dao.LoginMapper" >
  <resultMap id="BaseResultMap" type="com.leah.www.model.Login" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="testid" property="testid" jdbcType="INTEGER" />
    <result column="testaccount" property="testaccount" jdbcType="VARCHAR" />
    <result column="testpassword" property="testpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    testid, testaccount, testpassword
  </sql>
</mapper>